@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap);

:root {
    /*
     * 1st layer - backgrounds
     * 2nd layer - any active blocks and contents of him
     * 3rd layer - panels (header, footer, etc.)
     * 4st layer - special window (notifications, lists, etc.)
     */
    --themeFirstLayerColor: #262626;
    --themeSecondLayerColor: #2A2A2A;
    --themeSecondLayerBlocksColor: #2E2E2E;
    --themeSecondLayerBlocksFieldColor: #323232;
    --themeThirdLayerColor: #202020;
    --themeFourthLayerColor: #242424;
    --themeFourthLayerColorShadow: #2C2C2C;
    --themeTextColor: #FFFFFF;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    padding: 8px;
    background: var(--themeThirdLayerColor);
    text-align: center;
}

.content {
    flex-grow: 1;
    background: var(--themeFirstLayerColor);
}

.footerText {
    padding: 8px;
    background: var(--themeThirdLayerColor);
    text-align: center;
}

.button {
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
}

.listElement, .listElement:hover {
    padding: 4px;
    border-radius: 4px;
}

.listElement:hover {
    background: var(--themeFourthLayerColorShadow);
}

.text, ::placeholder {
    color: var(--themeTextColor);
    font-family: system-ui;
    font-weight: bold;
}

.formInput {
    background: var(--themeSecondLayerBlocksFieldColor);
    color: var(--themeTextColor);
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 8px;
    font-family: system-ui;
    font-weight: bold;
}

.leftPanel#leftPanel-block {
    display: flex;
    flex-direction: column;
    background: var(--themeThirdLayerColor);
    padding: 0 8px;
    white-space: nowrap;
}

.leftPanel.header {
    /* some styles */
}

.leftPanel.content {
    background: inherit;
}

.leftPanel.footerText {
    /* some styles */
}

.mainView#mainView-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mainView.header {
    /* some styles */
}

.mainView.content {
    padding: 16px;
}

.mainView.footerText {
    /* some styles */
}

.droppedList#droppedList-block {
    position: absolute;
    padding: 4px;
    margin-left: 224px;
    z-index: 2;
    background: var(--themeFourthLayerColor);
    border: none;
    border-radius: 8px;
    min-width: 214px;
}

.droppedList.content {
    margin: 2px;
    text-align: center;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
}

.background.active {
    opacity: 1;
    pointer-events: all;
}

.window#window-block {
    display: flex;
    flex-direction: column;
    background: var(--themeFourthLayerColor);
    padding: 24px;
    min-width: 20%;
    max-width: 30%;
}

.window.header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: inherit;
}

.window.headerText#titleWindow {
    padding-right: 4px;
}

.window.headerButton#closeWindow {
    padding-left: 4px;
}

.window.content {
    margin-top: 4px;
    background: inherit;
}

.window.footer {
    /* some styles */
}

.window.footer.loader {
    margin-top: 6px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    border-top: 3px solid #232323;
    width: 18px;
    height: 18px;
    animation: spinner 800ms linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}