.header {
    padding: 8px 0;
    background: var(--themeThirdLayerColor);
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.left-panel {
    display: flex;
    flex-direction: column;
    background: var(--themeThirdLayerColor);
    padding: 4px 8px 0;
    white-space: nowrap;
}

.left-panel-category {
    padding: 4px 0 4px;
    cursor: pointer;
}

.content {
    color: #FFFFFF;
    background: var(--themeFirstLayerColor);
    width: 100%;
    padding: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: var(--themeThirdLayerColor);
}

#footer-changeTheme {
    cursor: pointer;
    padding-left: 48px;
}